# Vivado generated/temporary files
*.jou
*.log
*.str
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.xpr.lock
*.dcp

# Behalte Projektdatei, Constraints, Sources, Testbenches
!*.xpr
!*.srcs/constrs_1/**
!*.srcs/sources_1/new/**
!*.srcs/sim_1/**

#Ignoriere vscode spezifische Datein
vhdl-linter.yml
vhdl_ls.toml
new.code-workspace
